@model RepairShop.Data.Models.RepairOrder

@{
    ViewBag.Title = "Details";
    string bgcolor;
    string status = Model.StatusRepair.ToString();
}

<h2>Details of @Html.DisplayFor(model => model.Name)</h2>

<div>
    <h4>Repair Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.StatusRepair)
        </dt>

        @switch (status)
        {
            case "On_hold": bgcolor = "red"; break;
            case "Under_repair": bgcolor = "black"; break;
            case "Waiting_for_parts": bgcolor = "black"; break;
            case "Done": bgcolor = "darkgreen"; break;
            default: bgcolor = "black"; return;
        }
        <dd style="color:@bgcolor;">
            @Html.DisplayFor(model => model.StatusRepair)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.BeginDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => Model.BeginDate)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.RepairParts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RepairParts)
        </dd>
        <br>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
